#MacOs Files
.DS_Store

# backend discards
backend/node_modules

# frontend discards
frontend/dist/
frontend/node_modules
frontend/tests/e2e/reports/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*